# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular data science open source tools
- Evaluate simple arithmetic expressions
- List common libraries used by data scientists

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. matplotlib
2. pandas
3. Tensorflow

| Data Science Tools |
| ------------------ |
| Jupytar Labs |
| Anaconda | 
| vscode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Lauren Tate